<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="stephan bazaar" />
    <title>Custom Web Components</title>
    <link rel="stylesheet" href="css/style.css" />

    <!-- icons -->
     <link rel="stylesheet" href="icons/css/all.css">
  </head>
  <body>
    <aside class="sidebar">
      <header>
        <div class="logo">
          <a href="#">
            <i class="fa fa-code"></i>
          </a>
        </div>
        <button class="menu-toggler">
          <span class="toggler-btn"><i class="fa fa-arrow-left btn-icon"></i></span>
        </button>
        <button class="toggler">
          <span class="span"><i class="fa fa-bars menu"></i></span>
        </button>
      </header>

      <!-- nav -->
       <nav>
        <ul class="primary-nav">
          <li>
            <a href="#">
              <span><i class="fa fa-bell"></i></span>
              <span class="nav-label">Notifications</span>
              <!-- <small>100</small> -->
            </a>
            <span class="nav-tooltip">Notifications</span>
          </li>

          <li>
            <a href="#">
              <span><i class="fa fa-message"></i></span>
              <span class="nav-label">Messages</span>
            </a>
            <span class="nav-tooltip">Messages</span>
          </li>

          <li>
            <a href="#">
              <span><i class="fa fa-users"></i></span>
              <span class="nav-label">Groups</span>
            </a>
            <span class="nav-tooltip">Groups</span>
          </li>

          <li>
            <a href="#">
              <span><i class="fa fa-link"></i></span>
              <span class="nav-label">Channels</span>
            </a>
            <span class="nav-tooltip">Channels</span>
          </li>

          <li>
            <a href="#">
              <span><i class="fa fa-user"></i></span>
              <span class="nav-label">Profile</span>
            </a>
            <span class="nav-tooltip">Profile</span>
          </li>

          <li>
            <a href="#">
              <span><i class="fa fa-eye"></i></span>
              <span class="nav-label">Privacy</span>
            </a>
            <span class="nav-tooltip">Privacy</span>
          </li>

          <li>
            <a href="#">
              <span><i class="fa fa-tasks"></i></span>
              <span class="nav-label">Activity</span>
            </a>
            <span class="nav-tooltip">Activity</span>
          </li>
        </ul>

       <!-- nav -->
          <ul class="secondary--nav">
            <li>
              <a href="#">
                <span><i class="fa fa-gear"></i></span>
                <span class="nav-label">Settings</span>
              </a>
              <span class="nav-tooltip">Settings</span>
            </li>

            <li>
              <a href="/logout">
                <span><i class="fa fa-sign-out"></i></span>
                <span class="nav-label">Logout</span>
              </a>
              <span class="nav-tooltip">Logout</span>
            </li>
          </ul>
          </nav>
    </aside>

    <script defer src="icons/js/all.js"></script>
    <script defer src="js/main.js"></script>

    <script>
      const logout = document.querySelector('.nav-label')

      logout.addEventListener('click', () => {
        alert('logout')
      })
    </script>
  </body>
</html>
