<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="icons/css/all.css">
</head>
<body>
    <header>
        <nav>
            <a href="#"><i class="fa fa-code"></i></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            </ul>
        </nav>
    </header>
<!-- hero section -->
    <section class="hero">
        <h1>Welcome to the Dark Side</h1>
        <p>Join the anonymous  community.</p>
        <button class="hero--btn">Explore Now</button>
    </section>
    <script defer src="icons/js/all.js"></script>
</body>
</html>