<%- include('partials/header.ejs'); %>
<div class="form-container">
    <div class="logo">
        <span class="bland">
            <i class="fa fa-code"></i>
        </span>
    </div>
<!-- form -->
    <form action="/create" method="post" target="_parent">
        <% if (info.length > 0) { %>
            <span class="error"><%= info %></span>
            <% } %>
        <div class="wrapper">
            <div class="input-field">
                <input type="text" placeholder="user name" name="username">
            </div>
            <div class="input-field">
                <input type="email" placeholder="Email" name="email">
            </div>
    
            <div class="input-field">
                <input type="password" placeholder="Password" name="password">
            </div>

            <div class="input-field">
                <button type="submit">Register</button>
            </div>
        </div>
        <div class="links">
            <span><a href="/login">Login</a></span>
            <span><a href="/">Home</a></span>
        </div>
    </form>

</div>
<%- include('partials/footer.ejs'); %>